@model MinisitreFin.Models.Examens

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_dashboardAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>
        Examen de 
        @Html.DisplayFor(model => model.Patient.Nom) @Html.DisplayFor(model => model.Patient.Prenom)
    </h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.A)
        </dd>



        <dd>
            @Html.DisplayFor(model => model.A_Text)
        </dd>

        <hr />

        <dd>
            @Html.DisplayFor(model => model.B)
        </dd>



        <dd>
            @Html.DisplayFor(model => model.B_Text)
        </dd>


        <hr />
        <dd>
            @Html.DisplayFor(model => model.C)
        </dd>



        <dd>
            @Html.DisplayFor(model => model.C_Text)
        </dd>

        <hr />
        <dd>
            @Html.DisplayFor(model => model.D)
        </dd>



        <dd>
            @Html.DisplayFor(model => model.D_Text)
        </dd>


        <hr />
        <dd>
            @Html.DisplayFor(model => model.E)
        </dd>


        <dd>
            @Html.DisplayFor(model => model.E_Text)
        </dd>

        <hr />
        <dd>
            @Html.DisplayFor(model => model.F)
        </dd>



        <dd>
            @Html.DisplayFor(model => model.F_Text)
        </dd>

        <hr />
        <dd>
            @Html.DisplayFor(model => model.G)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.G_Text)
        </dd>

        <hr />
        <dd>
            @Html.DisplayFor(model => model.H)
        </dd>


        <dd>
            @Html.DisplayFor(model => model.H_Text)
        </dd>
        <hr />


        <dd>
            @Html.DisplayFor(model => model.I)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.I_Text)
        </dd>
        <hr />

        <dd>
            @Html.DisplayFor(model => model.J)
        </dd>


        <dd>
            @Html.DisplayFor(model => model.J_Text)
        </dd>

        <hr />

        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>


        
        <hr />
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
